@page "/"
@using Shared;

<div class="home">
    @if(listNews != null && listNews.Count > 0){
        foreach(var item in listNews){
            <a class="news-item" href="@item.Url" target="_blank">
                <article>
                    <div>
                        <img src="@item.Image" alt="" srcset="">
                    </div>
                    <div>
                        <p>@item.Description</p>
                        <span>Leer más</span>
                    </div>
                </article>
            </a>
        }
    }
</div>

@code
{
    List<News> listNews = new List<News>();

    protected override async Task OnInitializedAsync()
    {
        listNews.Add(new News(){
            Description = "How to change your PlayStation Network username",
            Image = "https://cdn.vox-cdn.com/thumbor/_nYgVAAWXBb73W3gvIQQ37rlaxo=/0x0:2040x1148/920x613/filters:focal(857x411:1183x737):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/70613943/vpavic_4261_20201023_0058.0.jpg",
            UriBuilder = "https://cdn.vox-cdn.com/thumbor/_nYgVAAWXBb73W3gvIQQ37rlaxo=/0x0:2040x1148/920x613/filters:focal(857x411:1183x737):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/70613943/vpavic_4261_20201023_0058.0.jpg"
        });
    }
}